<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anxu.livi_module_user.mapper.wePost.PostCircleUserMapper">
    <select id="selectUserCircleInfo" resultType="com.anxu.livi_model.model.entity.wePost.PostCircleEntity">
        select
            pc.circle_id, pc.circle_name, pc.circle_desc, pc.circle_avatar,
            pcu.create_time, pcu.user_id
        from pub_post_circle_user pcu
                 left join pub_post_circle pc on pcu.circle_id = pc.circle_id
        where pcu.user_id = #{id}
        order by pcu.create_time desc
    </select>
</mapper>
