<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anxu.smarthomeunity.mapper.GoodsMapper">
        <!--    更新并重新统计商品评分 -->
    <update id="updateScore">
        update pub_goods p
        inner join (
            select
            goods_id,
            AVG(score) as avg_score
            FROM pub_goods_comment
            GROUP BY goods_id
            ) c
        on p.goods_id = c.goods_id
        set p.goods_score = ROUND(c.avg_score, 1),
            p.goods_comment_count = COUNT(c.goods_id)
    </update>

</mapper>

