<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anxu.livi_module_user.mapper.user.UserMapper">
    <!--根据社区id查询所有成员信息（用户名、头像）-->
    <select id="selectMemberByCommunityId"
            resultType="com.anxu.livi_model.model.entity.user.UserInfoEntity">
        select username,avatar
        from user_info ui
        inner join pub_community_user pcu on ui.id = pcu.user_id
        where pcu.community_id = #{communityId}
        group by ui.id
    </select>
</mapper>
