<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anxu.livi_module_user.mapper.goods.GoodsCommentMapper">

     <select id="selectCommentInfo" resultType="com.anxu.livi_model.model.vo.goods.GoodsCommentsVO">

    </select>
</mapper>
