<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anxu.livi_module_user.mapper.goods.GoodsMapper">
        <!--    更新并重新统计商品评分 -->
    <update id="updateScore">
        update pub_goods p
            inner join (
            select
            goods_id,
            AVG(comment_score) as avg_score,
            COUNT(*) as comment_count  -- 子查询中直接统计每个商品的评论数
            FROM pub_goods_comment
            GROUP BY goods_id
            ) c on p.goods_id = c.goods_id
            set
                p.goods_score = ROUND(c.avg_score, 1),
                p.goods_comment_count = c.comment_count  -- 直接引用子查询的统计结果
    </update>

</mapper>

